<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">
	<title>PRODOTTI</title>
	<script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
</head>
<body>
	<h1>PRODOTTI</h1>
	<h2>SELEZIONA QUELLI CHE VUOI ACQUISTARE</h2>

	<div>
	<form action="{{url_for('inserisci_prodotti')}}" method="post", id="Form">
		{%for i in range(0, len)%}
			<input type="checkbox" id={{prodotti[i][0]}} name={{prodotti[i][1]}} value={{prodotti[i][1]}} onclick='handleClick_home(this)';>
			<label>{{prodotti[i][1]}}<label><br>
		  	<img src="{{url_for('static', filename=prodotti[i][3])}}" width="30" height="30" style="padding-left: 25px;"/>
			<br>
			<span style="padding-left: 25px;">€{{prodotti[i][2]}}</span>
			<br>
			<hr style="height: 1px; color: lightblue;"> 
			<br>
		{%endfor%}
		<input type="submit" value="AGGIUNGI" id="aggiungi" disabled=true>
		</form>


	<form action="/carrello" method="get">
	    <button type="submit">CARRELLO</button>	
	</form>

	</div>
</body>
</html>