<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
	<title>HOME PAGE</title>
</head>
<body>
	<div class="row full-height">
		<div class="column left">
		</div>

		<div class="column middle" style="border: thin solid lightblue;">
			<div align="center">
				<h1>BENVENUTO</h1>
				<img src="{{ url_for('static',filename='images/food.png') }}" width="150" height="150">
				<p>QUESTO SITO È SVILUPPATO IN PYTHON USANDO FLASK</p>
				<form action="/prodotti">
					<button type="submit">ENTRA</button>
				</form>
			</div>
		</div>

		<div class="column right">
			<p style="color:grey;font-size:10px; writing-mode: tb-rl;">@credit Mario Cuomo & Fabio Ramohitaj </p>
		</div>
	</div>

</body>
</html>